body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fa;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.hero {
    position: relative;
    background-image: url('./تنزيل (4).jfif'); /* استخدم url() لتحديد الصورة */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* تأثير باهت */
    z-index: 1; /* وضعه تحت المحتوى */
}

.hero h1, .hero p {
    position: relative;
    z-index: 2; /* وضع النص فوق التأثير */
}
.features {
    padding: 50px 0;
}
.feature-item {
    text-align: center;
    margin: 20px;
}
.feature-icon {
    font-size: 50px;
    color: #007bff;
}
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}



